In [1]:
import pandas as pd

In [23]:
ha_measurements = pd.read_csv('hawaii_measurements.csv')
ha_stations = pd.read_csv('hawaii_stations.csv')

In [32]:
measurements = ha_measurements.dropna(axis=1).reset_index(drop=True)
measurements.to_csv('clean_measurements.csv',index = False)

In [33]:
ha_stations.to_csv('clean_stations.csv', index=False)

In [30]:
measurements.head()

       station        date  tobs
0  USC00519397  2010-01-01    65
1  USC00519397  2010-01-02    63
2  USC00519397  2010-01-03    74
3  USC00519397  2010-01-04    76
4  USC00519397  2010-01-06    73